.DS_Store
XuemiiOS/XuemiiOS.xcodeproj/project.xcworkspace/xcuserdata/gracelyn.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
XuemiiOS/XuemiiOS.xcodeproj/project.xcworkspace/xcuserdata/Abigail.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
